[Unit]
Description=Docker Container I/O Monitor
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStart=/home/tenshii/dotfiles/vps/scripts/disk_io_monitoring.sh
Restart=always
RestartSec=5
StandardOutput=append:/home/tenshii/disk-io-monitor.log
StandardError=append:/home/tenshii/disk-io-monitor.log

[Install]
WantedBy=multi-user.target
